# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
product/*.html
analysis/*.docx
analysis/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# output files
output/

# knitr and R markdown default cache directories
/analysis/cache/
/analysis/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

# Data product
data/derived_data/all2Data.csv
data/derived_data/allDataExtra.csv
data/derived_data/*.Rdata
product/species_rasters/*.tif
data/raw_data/*/*.csv
product/maps/*.csv
product/maps/*.Rdata
